version: "3.6"

services:
  work:
    build: .
      context: ./work
      dockerfile: Dockerfile
    image: img-work
    container_name: work-container
    hostname: work
    tty: true
    restart: always
    environment:
      - DISPLAY=$DISPLAY
      - WAYLAND_DISPLAY=$WAYLAND_DISPLAY
      - XDG_RUNTIME_DIR=$XDG_RUNTIME_DIR
      - PULSE_SERVER=$PULSE_SERVER
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - /mnt/wslg:/mnt/wslg
      - ./vol-work:/home/ubuntu/work
    ports:
      - '8080:8080'
    networks:
      work-network:
        ipv4_address: 192.168.10.1

  gitbucket:
    image: gitbucket/gitbucket
    container_name: gitbucket-container
    hostname: gitbucket
    environment:
      - GITBUCKET_PORT=8081
      - GITBUCKET_SECUREPORT=8443
    restart: always
    tty: true
    volumes:
      - ./vol-gitbucket:/gitbucket
    ports:
      - '8081:8081'
      - '29418:29418'
    networks:
      work-network:
        ipv4_address: 192.168.10.2

  postgres-gogs:
    image: postgres:latest
    container_name: postgres-gogs-container
    hostname: postgres-gogs
    environment:
      - POSTGRES_USER=gogs
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=gogs
    volumes:
      - ./vol-postgres:/var/lib/postgresql/data
    restart: always
    ports:
      - '5432:5432'
    networks:
      work-network:
        ipv4_address: 192.168.10.3

  gogs:
    image: gogs/gogs
    container_name: gogs-container
    hostname: gogs
    environment:
    restart: always
    tty: true
    depends_on:
      - postgres-gogs
    volumes:
      - ./vol-gogs:/data
    ports:
      - '10022:22'
      - '10880:3000'
    networks:
      work-network:
        ipv4_address: 192.168.10.4

  postgres-gitea:
    image: postgres:latest
    container_name: postgres-gitea-container
    hostname: postgres-gitea
    environment:
      - POSTGRES_USER=gitea
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=gitea
    volumes:
      - ./vol-postgres-gitea:/var/lib/postgresql/data
    restart: always
    ports:
      - '15432:5432'
    networks:
      work-network:
        ipv4_address: 192.168.10.5

  gitea:
    image: gitea/gitea:latest-rootless
    container_name: gitea
    environment:
      - GITEA__database__DB_TYPE=postgres
      - GITEA__database__HOST=postgres-gitea:5432
      - GITEA__database__NAME=gitea
      - GITEA__database__USER=gitea
      - GITEA__database__PASSWD=gitea
    restart: always
    volumes:
      - ./vol-gitea-data:/var/lib/gitea
      - ./vol-gitea-config:/etc/gitea
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "13000:3000"
      - "12222:2222"
    depends_on:
      - postgres-gitea
    networks:
      work-network:
        ipv4_address: 192.168.10.6


  jenkins:
    image: jenkins/jenkins:latest
    container_name: jenkins-container
    hostname: jenkins
    environment:
    restart: always
    tty: true
    volumes:
      - ./vol-jenkins:/var/jenkins_home
    ports:
      - '8080:8080'
      - '50000:50000'
    networks:
      work-network:
        ipv4_address: 192.168.10.7

networks:
  work-network:
    ipam:
      driver: default
      config:
        - subnet: 192.168.10.0/24
